/* colors */
/* font sizes */
/* margins */
.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-120 {
  margin-top: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Teko", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER (logo, nav) */
.logo {
  text-align: center;
}
.logo img {
  width: 200px;
}

.nav_top ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav_top ul li.active {
  background-color: #b2e5fc;
}
.nav_top ul li a {
  text-decoration: none;
  padding: 15px;
  font-size: 22px;
  color: #000;
  display: inline-block;
}

.wrapper_main h2 {
  text-transform: uppercase;
  color: #002d73;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px;
}
.cards .card img {
  width: 100%;
}

.wrapper_main {
  background-image: url("/images/fondo-pag-speciali.jpg");
}

.product_paste {
  background-color: #b7dae5;
  padding: 40px;
}
.product_paste h2 {
  text-align: center;
}
.product_paste img {
  width: 100%;
}

.wrapper_footer {
  background-image: url("/images/footer-montagne-bottom.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.wrapper_footer .container {
  display: flex;
}
.wrapper_footer .footer_info {
  padding: 50px 0 30px 15px;
  max-width: 30%;
  text-transform: uppercase;
}
.wrapper_footer .footer_left {
  padding: 50px 0 30px 15px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper_footer .footer_left .box_list {
  width: calc(100% / 2);
  padding: 20px;
}
.wrapper_footer .footer_left .box_list ul {
  list-style: none;
  margin-top: 15px;
}
.wrapper_footer .footer_left .box_list ul a {
  text-decoration: none;
  color: grey;
}
