.wrapper_footer{
    background-image: url('/images/footer-montagne-bottom.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Open Sans', sans-serif;
    color: grey;

    .container{
        display: flex;
    }

    .footer_info{
        padding: 50px 0 30px 15px;
        max-width: 30%;
        text-transform: uppercase;
    }

    .footer_left{
        padding: 50px 0 30px 15px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;

            .box_list{
            width: calc(100% / 2);
            padding: 20px;
            
            ul{
                list-style: none;
                margin-top: 15px;
                a{
                    text-decoration: none;
                    color: grey;
                }
            }
        }
    }
}