
/* HEADER (logo, nav) */
.logo{
    text-align:center;

    img {
        width:200px;
    }
}

.nav_top{
    
    ul{

        list-style:none;
        display:flex;
        justify-content: center;
            
        li{
            &.active{
                background-color: $secondary_color;
            }
        
            a{
                text-decoration: none;
                padding: 15px;
                font-size: $font_medium;
                color: #000;
                display: inline-block;
            }
        }
    }
}