.wrapper_main{

    h2{
        text-transform: uppercase;
        color: $main_color;
        margin-top: 15px;
    }
}

.cards{

    display: flex; 
    flex-wrap: wrap;

    .card{
        width:calc((100% / 3) - 20px);
        margin: 10px;

        img{
            width: 100%;
        }
    }
}

.wrapper_main{
    background-image: url('/images/fondo-pag-speciali.jpg');
    padding-top: 15px;
    margin-top: 15px;
}