.wrapper_main{

    h2{
        text-transform: uppercase;
        color: $main_color;
    }
}

.cards{

    display: flex; 
    flex-wrap: wrap;

    .card{
        width:calc((100% / 3) - 20px);
        margin: 10px;

        img{
            width: 100%;
        }
    }
}

.wrapper_main{
    background-image: url('/images/fondo-pag-speciali.jpg');
}

.product_paste{
    background-color: #b7dae5;
    padding: 40px;
    

    h2 {
        text-align: center;
    }

    img {
        width:100%;
    }
}